*.rbc
*.sassc
*.swp
*~
.project
.DS_Store
.idea
.secret
.sass-cache
capybara-*.html
database.yml
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/doc/
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
/vendor/bundle
.ruby-version
