<p>
Ne vous sentez pas obligés de nous faire un cadeau, venez avant tout avec votre bonne humeur pour célébrer à nos côtés ce jour très spécial !
</p>
<p>
Nous avons décidé de ne pas faire de liste de mariage, étant déjà bien installés sur Londres. <br />
En revanche, si vous souhaitez nous faire plaisir, vous pouvez contribuer à notre voyage de noces (pas encore prévu <i>:-)</i>, mais qui se fera sûrement en Asie du Sud-Est). 
</p>
<p>
Dernier point : Etant donnée la taille de notre appartement, et le fait que nous déménagerons sûrement prochainement, merci de ne pas nous offrir de vaisselle ou tout autre objet pour la maison : nous ne saurions pas où les mettre <i>:-)</i>
</p>
