<p>
Don't feel like you have to give us a present. Before anything else, we will be very happy to have you with us to celebrate this special day!
</p>
<p>
Also, we do not have a wedding list, as we already have everything we need in our little flat in London. <br />
However, if you wish to give us something, you can contribute to our honeymoon (not planned yet <i>:-)</i>, but which we will probably do in South-East Asia).
</p>
<p>
Finally: given the size of our flat, and the fact that we will probably move in a near future, please do not give us any tableware, kitchenware, etc. : we wouldn't know where to put it <i>:-)</i>
</p>
