<p class="text-justify">
First day at university, Marc notices a little Breton girl who is quite to his tastes and shares the same passion for China and Asia in general, as he does! <br />
He then decides to do like her and sign up for Spanish classes <strike>to learn more about the language</strike> to get the opportunity to spend more time with her.
</p>
<p class="text-justify">
They hang out together quite a lot with the same group of friends, discovering the student life! However it is only when Marc showcases his snowboarding skills that Hélène starts to see a different side of him.
</p>
<p class="text-justify">
The magic happened soon afterwards, during the Festival of Lights, 2005, Lyon! And you know the rest of the story...
</p>
