<p class="text-justify">
Premier jour à l'INSA de Lyon, Marc remarque une petite Bretonne plutôt à ses goûts, qui partage la même passion pour la Chine et l'Asie en général !<br />
Il décide du coup de la suivre en cours d'Espagnol <strike>pour améliorer son niveau dans cette langue</strike> pour pouvoir passer davantage de temps avec elle.
</p>
<p class="text-justify">
Ils se voient régulièrement, ayant le même groupe d'amis, et découvrent ensemble la vie étudiante ! Mais c'est seulement quand Marc lui montre ses talents de snowboardeur qu'Hélène commence à le voir sous un nouvel oeil.
</p>
<p class="text-justify">
La magie opère peu après, pendant la soirée de la Fête des Lumières 2005, à Lyon ! Et vous connaissez le reste de l'histoire...
</p>
