<p class="text-justify">
Après plusieurs années de vie commune et à voyager autour du monde, Hélène et Marc étaient partis pour une nouvelle aventure en Norvège. <br />
En ce 21 Avril 2011, ils se trouvaient près de Stavanger et faisaient une randonnée au Preikestolen.
</p>
<p class="text-justify">
Une fois arrivés au sommet, Marc était sur le point de faire sa demande à Hélène -- il avait tout prévu depuis quelques mois et avait un anneau caché dans sa main. <br />
Alors qu'il allait commencer à parler, Hélène, qui admirait la merveilleuse vue qui s'offrait à eux, taquina Marc : "<i>Tu vois, ce serait un endroit parfait pour me demander en mariage...</i>".
</p>
<p class="text-justify">
En entendant ces mots, un énorme sourire illumina le visage de Marc. Il prit délicatement la main d'Hélène et répondit : "<i>Ah oui ? Vraiment ?</i>", et tandis qu'il parlait, il lui glissa l'anneau à la main, à la plus grande surprise d'Hélène (*) !
</p>
<p class="text-justify">
<small>(*) Heureusement pour Marc, elle ne refusa pas et ne le poussa pas non plus du haut de la falaise dans les fjords !</small>
</p>
