<p class="text-justify">
After several years living together and travelling around the world, Hélène and Marc were on one more adventure in Norway. <br />
This day of April 21st, 2011, they were near Stavanger, hiking to the top of the Preikestolen.
</p>
<p class="text-justify">
Once finally at the top, Marc was ready to propose to Hélène, with a ring hidden in his hand -- he had planned this for a couple of months already. <br />
But as he was about to start speaking, Hélène decided to tease Marc, while looking at the stunning landscape: "<i>You know, this would be a perfect place to propose...</i>"
</p>
<p class="text-justify">
Hearing these words, a giant smile appeared on Marc's face. He gently took Hélène's hand and replied: "<i>Oh really?</i>", and as he was saying this, he put the ring on her finger, to Hélène's greatest surprise (*)!
</p>
<p class="text-justify">
<small>(*) Luckily for Marc, she did not refuse, nor pushed him from the top of the cliff into the fjords!</small>
</p>
