<div class="row">
  <div class="col-md-12 col-xs-12">
  Nous avons décidé de ne pas faire de liste de mariage, étant déjà installés confortablement sur Londres.<br />
  En revanche, si vous le souhaitez, vous pourrez nous aider pour notre lune de miel, pour laquelle que nous ferons probablement un voyage en Asie du Sud-Est.<br />
  &nbsp;<br />
  <b>N.B.</b> : Etant donnée la taille de notre appartement à Londres, et le fait que nous déménagerons sûrement prochainement, merci de ne <u><b>PAS</b></u> nous offrir de vaisselle.<br />
  &nbsp;<br />
  </div>
</div>

<div class="row text-center">
  <div class="col-md-12 col-xs-12">
    <%= image_tag('thailand.jpg') %>
  </div>
</div>
