<div class="row">
  <div class="col-md-12 col-xs-12">
  We do not have any wedding list. <br />
  However, if you wish to do so, you can contribute to our honeymoon in South-East Asia.<br />
  &nbsp;<br />
  </div>
</div>

<div class="row text-center">
  <div class="col-md-12 col-xs-12">
    <%= image_tag('thailand.jpg') %>
  </div>
</div>
