<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h3><%= t('menu.gifts') %></h3>
    <%= render 'wedding/gifts/gifts' %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <%= image_tag 'wedding/thailand.jpg', class: "img-responsive center-block" %>
  </div>
</div>
