<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h3><%= t('menu.gifts') %></h3>

    We do not have any wedding list, as we already have everything we need.<br />
    However, if you wish to do so, you can contribute to our honeymoon in South-East Asia.<br />
    &nbsp;<br />
  </div>
</div>

<%= render 'wedding/gifts_img_thailand' %>
