<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h3><%= t('menu.stay') %></h3>
    <%= t('g.coming_soon') %><br />
	<a href="http://www.ot-erdeven.fr/pages/loger.php" target="_blank">OT Erdeven</a>
  </div>
</div>
