<section id="transports">
<h3>Transports</h3>
  <div class="col-md-12 col-xs-12">
    Comment aller à : <br />
    <ul>
      <li><a href="http://www.tourisme-rennes.com/pratique/acces.aspx" target="_blank">Rennes</a> ?</li>
      <li><a href="http://www.morbihan-way.fr/" target="_blank">Saint Philibert</a> ?</li>
      <li><a href="http://www.ot-erdeven.fr/pages/r-1-s-18-a-30-erdeven-access-how-to-get-to-erdeven.php?id_langue=1" target="_blank">Erdeven</a> ?</li>
    </ul>
  </div>
</section>

<section id='carpooling'>
  <h3><%= link_to 'Co-voiturage', wedding_cars_path %></h3> 
</section>

<section id="train">
  <h3>Train <a id="link-trains-details" href="#train-details" data-toggle="collapse"></a></h3> 
  <div id="train-details" class="collapsible">
    <div class="col-md-12 col-xs-12">
      <b>Lien utile</b> : <a href="http://www.voyages-sncf.fr" target="_blank">www.voyages-sncf.fr</a>
      <br />&nbsp;<br />
    </div>

    <div class="col-md-6 col-xs-12">
      <b>Mariage civil</b> : <br />&nbsp;<br />

      Etant donné qu'il se déroulera à l'hôtel de ville de <b>Rennes</b>, place du Parlement, vous pouvez donc venir par la <b><u>Gare de Rennes</u></b>. <br />
      Il existe entre autres des TGV directs à partir de <b>Lyon</b> et <b>Paris</b>.<br />&nbsp;<br />

      <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.fr/?ie=UTF8&amp;t=m&amp;ll=48.103648,-1.672325&amp;spn=0.01003,0.018239&amp;z=15&amp;output=embed"></iframe><br /><small><a href="https://maps.google.fr/?ie=UTF8&amp;t=m&amp;ll=48.103648,-1.672325&amp;spn=0.01003,0.018239&amp;z=15&amp;source=embed" style="color:#0000FF;text-align:left" target="_blank">Agrandir le plan</a></small>
    </div>

    <div class="col-md-6 col-xs-12">
      <b>Cérémonie de mariage, cocktail, dîner et retour de mariage</b> : <br />&nbsp;<br />
      La gare la plus proche <br />
      <ul>
        <li>de <b>Saint Philibert</b>, où se déroulera la cérémonie de mariage, et </li>
        <li>du Manoir de Kercadio, à <b>Erdeven</b>, où se dérouleront le cocktail, le dîner et le retour de mariage, </li>
      </ul>
      est la <b><u>Gare d'Auray</u></b>.<br />&nbsp;<br />
      Il existe entre autres des TGV directs pour Auray à partir de <b>Paris</b>. <br />
      Depuis <b>Rennes</b>, il y a environ un TER par heure, et le trajet dure approximativement 1h15.<br />&nbsp;<br />

      <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.fr/?ie=UTF8&amp;t=m&amp;ll=47.680501,-3.000855&amp;spn=0.010113,0.018239&amp;z=15&amp;output=embed"></iframe><br /><small><a href="https://maps.google.fr/?ie=UTF8&amp;t=m&amp;ll=47.680501,-3.000855&amp;spn=0.010113,0.018239&amp;z=15&amp;source=embed" style="color:#0000FF;text-align:left" target="_blank">Agrandir le plan</a></small>
    </div>
  </div>
</section>

<section id="plane">
  <h3>Avion <a href="#plane-details" data-toggle="collapse"></a></h3> 
  <div id="plane-details" class="collapsible">
    <div class="col-md-12 col-xs-12">
    Vous pouvez également nous rejoindre "en volant" jusqu'à : <br />&nbsp;<br />
    <ul>
      <li><b>Rennes</b>, par les aéroports de : 
        <ul>
          <li>Rennes - Saint Jacques (RNS) : <a href="http://www.rennes.aeroport.fr/" target="_blank">www.rennes.aeroport.fr</a></li>
          <li>Dinard - Pleurtuit - Saint-Malo (DNR) : <a href="http://www.dinard.aeroport.fr/" target="_blank">www.dinard.aeroport.fr</a></li>
        </ul><br />
      </li>
      <li><b>Saint Philibert</b> / <b>Erdeven</b>, par l'aéroport de :
        <ul>
          <li>Lorient - Bretagne Sud (LRT) : <a href="http://www.lorient.aeroport.fr/?lang=fr" target="_blank">www.lorient.aeroport.fr</a></li>
        </ul>
      </li>
    </ul>
    </div>
  </div>
</section>