<section id="transports">
<h3>Transports</h3>
  <div class="col-md-12 col-xs-12">
    How to go to: <br />
    <ul>
      <li><a href="http://www.tourisme-rennes.com/en/travel-getting-rennes-britanny-capital.aspx" target="_blank">Rennes</a>?</li>
      <li><a href="http://www.morbihan-way.fr/en/" target="_blank">Saint Philibert</a>?</li>
      <li><a href="http://www.ot-erdeven.fr/pages/r-1-s-18-a-30-erdeven-access-how-to-get-to-erdeven.php?id_langue=2" target="_blank">Erdeven</a>?</li>
    </ul>
  </div>
</section>

<section id="train">
  <h3>Train <a id="link-trains-details" href="#train-details" data-toggle="collapse"></a></h3> 
  <div id="train-details" class="collapsible">
    <div class="col-md-12 col-xs-12">
      <b>Useful link</b> : <a href="http://www.voyages-sncf.co.uk" target="_blank">www.voyages-sncf.co.uk</a><br />
      N.B. : 
      <ul>
        <li>You can book both Eurostar and TGV from the above website.</li>
        <li>Bookings can be made in GBP.</li>
      </ul>
      <br />&nbsp;<br />
    </div>

    <div class="col-md-6 col-xs-12">
      <b>Civil wedding</b>: <br />&nbsp;<br />

      This will take place at the City Hall of <b>Rennes</b>, place of Parliament, so the simplest is to arrive at <b><u>Rennes' train station</u></b>. <br />
      There are direct, fast trains (TGV) from <b>Paris</b>, where you can arrive in Eurostar from <b>London</b>.<br />&nbsp;<br />

      <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/?ie=UTF8&amp;t=m&amp;ll=48.103648,-1.672325&amp;spn=0.01003,0.018239&amp;z=15&amp;output=embed"></iframe><br /><small><a href="https://maps.google.co.uk/?ie=UTF8&amp;t=m&amp;ll=48.103648,-1.672325&amp;spn=0.01003,0.018239&amp;z=15&amp;source=embed" style="color:#0000FF;text-align:left" target="_blank">View Larger Map</a></small>
    </div>

    <div class="col-md-6 col-xs-12">
      <b>Religious ceremony, cocktail, diner and brunch</b>: <br />&nbsp;<br />
      The closest train station to <br />
      <ul>
        <li><b>Saint Philibert</b>, where the religious ceremony will take place, and the</li>
        <li>Manor of Kercadio, in <b>Erdeven</b>, where the cocktail, diner and brunch will take place, </li>
      </ul>
      is <b><u>Auray's train station</u></b>.<br />&nbsp;<br />
      There are direct, fast trains (TGV) from <b>Paris</b>, where you can arrive in Eurostar from <b>London</b>. <br />
      From <b>Rennes</b>, there are both slow (TER) and fast (TGV) trains approximately every hour, and the journey takes around 1 hour and 15 minutes.<br />&nbsp;<br />

      <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/?ie=UTF8&amp;t=m&amp;ll=47.680501,-3.000855&amp;spn=0.010113,0.018239&amp;z=15&amp;output=embed"></iframe><br /><small><a href="https://maps.google.co.uk/?ie=UTF8&amp;t=m&amp;ll=47.680501,-3.000855&amp;spn=0.010113,0.018239&amp;z=15&amp;source=embed" style="color:#0000FF;text-align:left" target="_blank">View Larger Map</a></small>
    </div>
  </div>
</section>

<section id="plane">
  <h3>Plane <a href="#plane-details" data-toggle="collapse"></a></h3> 
  <div id="plane-details" class="collapsible">
    <div class="col-md-12 col-xs-12">
    It is also possible to join us by flying to: <br />&nbsp;<br />
    <ul>
      <li><b>Rennes</b>, via the following airports: 
        <ul>
          <li>Rennes - Saint Jacques (RNS): <a href="http://www.rennes.aeroport.fr/en/" target="_blank">www.rennes.aeroport.fr</a></li>
          <li>Dinard - Pleurtuit - Saint-Malo (DNR), via <u>direct flights from Stansted</u>: <a href="http://www.dinard.aeroport.fr/uk/" target="_blank">www.dinard.aeroport.fr</a></li>
        </ul><br />
      </li>
      <li><b>Saint Philibert</b> / <b>Erdeven</b>, via the following airports: 
        <ul>
          <li>Lorient - Bretagne Sud (LRT): <a href="http://www.lorient.aeroport.fr/?lang=en" target="_blank">www.lorient.aeroport.fr</a></li>
        </ul>
      </li>
    </ul>
    </div>
  </div>
</section>

<section id="carpooling">
  <h3>Carpooling <a href="#carpooling-details" data-toggle="collapse"></a></h3> 
  <div id="carpooling-details" class="collapsible">
    <div class="col-md-12 col-xs-12">
      <%= render "wedding/cars/carpooling" %>
    </div>
  </div>
</section>