/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import 'bootstrap';
@import 'bootstrap-datetimepicker';
@import 'bootstrap-fixed.css.scss';
@import 'home.css.scss';
@import 'cars.css.scss';
@import 'events.css.scss';
@import 'rsvp.css.scss';

/* -------------------------------------------- Sticky header and footer --- */

$header-height: 46px;
$header-height-sm-md: 41px;
$header-space: 4px;
$footer-height: 40px;

html,
body {
  // To have the footer, the html and body elements cannot have any padding or margin.
  height: 100%;
}

// Wrapper for page content to push down footer:
#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto (-1 * $footer-height); // Negative indent footer by its height.
  padding: 0 0 $footer-height;          // Pad bottom by footer height.

  > .container {
    @media (max-width: 767px) {
      padding: ($header-height-sm-md + $header-space) 15px 0; // Pad top by header height.
    }
    @media (min-width: 768px) {
      padding: ($header-height + $header-space) 15px 0; // Pad top by header height.
    }
  }
}

#footer {
  height: $footer-height; // Set the fixed height of the footer here.
  border-top: 1px solid #dfdfdf;
  background-color: #ffffff;

  > .container {
    padding-left: 15px;
    padding-right: 15px;

    > .text-muted {
      margin: 11px 0;
    }
  }
}


/* -------------------------------------------------------------- Navbar --- */

@media (max-width: 767px) {
  .navbar-nav > li.flag > a {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 768px) {
  .navbar-nav > li.flag > a {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.navbar-nav > li.bold {
  > a {
    font-weight: bold;
    text-decoration: underline;
  }
  > a:hover {
    font-weight: bold;
    text-decoration: underline;
  }
}

.navbar-nav > li.active.bold > a {
  font-weight: bold;
  text-decoration: underline;
}


/* -------------------------------------------------------------- Others --- */

.inline {
  display: inline;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.btn-collapsible {
  border: 0px;
  padding: 0px;
}
  
/* From Twitter Bootstrap's documentation:
 *   "Inputs, selects, and textareas are 100% wide by default in Bootstrap. 
 *    To use the inline form, you'll have to set a width on the form controls 
 *    used within."
 * This fixes styling issues like having labels not inlined.
 */
.form-inline .form-group input,
.form-inline .form-group select {
    // width: 140px;
}