/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  min-height: 2000px;
  padding-top: 50px;
}

section {
  padding-top: 50px; // Must be equal to the padding in body.
  margin-top: -50px;
}

.inline {
  display: inline;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

a.navbar-brand {
  font-size: 22px;
}

.navbar-nav > li {
  font-size: 18px;
}

.navbar-nav > li.flag > a {
  padding-left: 5px;
  padding-right: 5px;
}

.navbar-nav > li.bold {
  > a {
    font-weight: bold;
    text-decoration: underline;
  }
  > a:hover {
    font-weight: bold;
    text-decoration: underline;
  }
}

.navbar-nav > li.active.bold > a {
  font-weight: bold;
  text-decoration: underline;
}

.pre-wed-carousel {
  margin: 0 auto;
  max-width: 900px;
  max-height: 900px;
}

.carousel-inner > .item > img.pre-wed-landscape,
.carousel-inner > .item > a > img.pre-wed-landscape {
  width: 900px;
  height: 600px;
  max-width: 900px;
  max-height: 600px;
}

.carousel-inner > .item > img.pre-wed-portrait,
.carousel-inner > .item > a > img.pre-wed-portrait {
  width: 600px;
  height: 900px;
  max-width: 600px;
  max-height: 900px;
}

.carousel-inner > .item > img.pre-wed-center,
.carousel-inner > .item > a > img.pre-wed-center {
  margin: 0 auto;
}

.guest-form {
  padding-top: 2px;
  padding-bottom: 2px;
}
.guest-form-btn {
  padding-top: 2px;
  padding-bottom: 2px;
}

.form-group {
  margin-bottom: 5px;
}