/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* -------------------------------------------- Sticky header and footer --- */

html,
body {
  // To have the footer, the html and body elements cannot have any padding or margin.
  height: 100%; 
}

// Wrapper for page content to push down footer:
#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -40px;   // Negative indent footer by its height.
  padding: 0 0 40px;      // Pad bottom by footer height.
  > .container {
    padding: 50px 15px 0; // Pad top by header height, plus some peanuts.
  }
}

#footer {
  height: 40px; // Set the fixed height of the footer here.
  border-top: 1px solid #dfdfdf;
  background-color: #ffffff;
  > .container {
    padding-left: 15px;
    padding-right: 15px;
    .text-muted {
      margin: 10px 0;
    }
  }
}


/* -------------------------------------------------------------- Navbar --- */

a.navbar-brand {
  font-size: 22px;
}

.navbar-nav > li {
  font-size: 18px;
}

.navbar-nav > li.flag > a {
  padding-left: 5px;
  padding-right: 5px;
}

.navbar-nav > li.bold {
  > a {
    font-weight: bold;
    text-decoration: underline;
  }
  > a:hover {
    font-weight: bold;
    text-decoration: underline;
  }
}

.navbar-nav > li.active.bold > a {
  font-weight: bold;
  text-decoration: underline;
}


/* -------------------------------------------------------------- Others --- */

.inline {
  display: inline;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}


.pre-wed-carousel {
  margin: 0 auto;
  max-width: 900px;
  max-height: 900px;
}

.carousel-inner > .item > img.pre-wed-landscape,
.carousel-inner > .item > a > img.pre-wed-landscape {
  width: 900px;
  height: 600px;
  max-width: 900px;
  max-height: 600px;
}

.carousel-inner > .item > img.pre-wed-portrait,
.carousel-inner > .item > a > img.pre-wed-portrait {
  width: 600px;
  height: 900px;
  max-width: 600px;
  max-height: 900px;
}

.carousel-inner > .item > img.pre-wed-center,
.carousel-inner > .item > a > img.pre-wed-center {
  margin: 0 auto;
}


.guest-form {
  padding-top: 2px;
  padding-bottom: 2px;
}
.guest-form-btn {
  padding-top: 2px;
  padding-bottom: 2px;
}

  
/* From Twitter Bootstrap's documentation:
 *   "Inputs, selects, and textareas are 100% wide by default in Bootstrap. 
 *    To use the inline form, you'll have to set a width on the form controls 
 *    used within."
 * This fixes styling issues like having labels not inlined.
 */
.form-inline .form-group input,
.form-inline .form-group select {
    // width: 140px;
}