// Place all the styles related to the Cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form#form-rsvp .form-group {
  margin-bottom: 5px;
}

.guest-form {
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
  .form-group {
  	margin-bottom: 5px;
  }
}

.guest-form-btn {
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 5px;
}