// Submission for shared car succeeded:

// Remove potential errors from previous faulty submission:
$('#car-errors')
  .empty()
  .removeClass('visible')
  .addClass('hidden');

// Make shared cars visible:
$('#no-shared-car').removeClass('visible').addClass('hidden');
$('#shared-cars').removeClass('hidden').addClass('visible');
$('table#table-shared-cars > thead > tr > th.hidden').removeClass('hidden').addClass('visible');

// Add new shared car to the DOM:
$("<%= escape_javascript(render 'wedding/cars/shared_car', car: @car) %>")
  .appendTo('#table-shared-cars > tbody')
  .effect('highlight');

// Create toggle buttons in data-toggle links, and initialized as collapsed.
// On click: change look of toggle and state (collapsed set to true/false):
$('#<%= "car-#{@car.id}-btn-toggle" %>')
  .data('collapsed', true)
  .html("<button type='button' class='btn btn-link btn-collapsible'><span class='glyphicon glyphicon-plus-sign'></span></button>")
  .click(function(e) { 
    toggle_button($(this), e);
  });

$('#<%= "car-#{@car.id}-td-btn-toggle" %>').removeClass('hidden');
$('#<%= "car-#{@car.id}-details" %>').addClass('collapse');
