<div class="row">
  <h1>Summary</h1>
  <div class="col-md-4">
    <%= render "wedding/guests/show_guests_summary" %>
  </div>
</div>

<div class="row">
  <h1>Bookings</h1>
  <div class="col-md-12">
    <%= render "wedding/guests/show_guests" %>
  </div>
</div>
