<table class="table table-striped table-condensed table-bordered text-center">
  <thead>
    <tr>
      <th colspan="2" class="text-center">Coming</th>
      <th rowspan="2" class="text-center" style="vertical-align: middle;">Not coming</th>
    </tr>
    <tr>
      <th class="text-center">Adults' menu</th>
      <th class="text-center">Children's menu</th>
    </tr>
  </thead>
  <tbody>
    <td><strong><%= Wedding::Guest.with_adult_menu.count %></strong></td>
    <td><strong><%= Wedding::Guest.with_child_menu.count %></strong></td>
    <td><strong><%= Wedding::Guest.not_coming.count %></strong></td>
  </tbody>
</table>