<ul>
  <% Wedding::Event.all.group_by { |event| event.beginning.to_date }.each do |day, events| %>
    <li>
      <%= l(day, format: :on_the_long) %><br />
      <% events.each do |event| %>
      <ul>
        <li class="wedding-event"> 
          <div class="checkbox">
              <% text = t(event.locale_entry + ".form") + ", " + l(event.beginning.to_time.in_time_zone("UTC"), format: :at_short) %>
              <%= check_box_tag "wedding_booking[event_ids][]", event.id, @booking.events.include?(event), { id: dom_id(event), class: "wedding-event-checkbox", checked: true} %>
              <%= label_tag(dom_id(event), text) %>
          </div>
        </li>
      </ul>
      <% end %>    
    </li>
  <% end %>
</ul>